*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: auto;
    width: 1000px;
}
.header{
    background-color: grey;
    padding: 0 30px;
    border: 2px dotted red;
}
.header h1{
    color: tomato;
    font-size: 40px;
}
.nav-menu{
    background-color: rgb(102, 102, 210);
}
.nav-menu ul li{
    list-style-type: none;
    padding: 10px;
    text-align: center;
}
.nav-menu ul li a{
    text-decoration: none;

}