*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: auto;
    width: 1000px;
}
.header{
    margin-top: 20px;
    padding: 0 30px;
    border: 2px dotted red;
}
.header h1{
    color: rgb(64, 39, 35);
    font-size: 20px;
    height: 50px;
    margin-top: 13px;
}
.nav-menu{
    margin-top: 10px;
    height: 50px;
    border: 2px solid green;
}
.nav-menu ul{
    text-align: center;
}
.nav-menu ul li{
    list-style-type: none;
    padding: 10px;
    display: inline-block;
}
.nav-menu ul li a{
    text-decoration: none;
    color: red;
    font-size: 20px;
}
.parents{
    display: flex;
    padding: 20px;
    justify-content: center;
}
.left-side{
    width: 450px;
    float: left;
    padding: 10px;
    border: 2px solid tomato;
}
.left-side h1{
    text-align: center;
    font-weight: bold;
    font-family: 400;
}
.left-side p{
    padding: 10px;
    justify-content: space-between;
}
.right-side{
    width: 450px;
    float: right;
    border: 2px solid black;
    padding: 10px;
}
.right-side h1{
    font-weight: bold;
    font-family: 400px;
    color: red;
    font-size: 24px;
    text-align: center;
}   
.right-side p{
    padding: 10px;
}
.section-area{
    text-align: center;
    border: 3px dashed blue;
    padding: 100px;
}
.footer{
    background-color: black;
    height: 100px;
    text-align: center;
}
.footer ul{
    float: left;
    padding: 40px 40px;
}
.footer ul li{
    list-style: none;
    float: left;
}
.footer ul li a{
    text-decoration: none;
    padding: 0 10px;
    color: red;
}
.footer{
    margin-top: 10px;
}
.footer p{
    color: rgb(9, 231, 16);
    float: right;
    padding: 40px 40px;
    
}